/pages/andmete-leidmine.html
/pages/bioreaktorid.html
/pages/katalysaatorid.html
/pages/kineetika-m22ramine.html
/pages/lahendamine-numbriliselt.html
/pages/massivahetus.html
/pages/voolamine.html
/examples/mcmt_reaktsioon.py
