/pages/andmete-leidmine.html
/pages/bioreaktorid.html
/pages/katalysaatorid.html
/pages/lahendamine-numbriliselt.html
/pages/massivahetus.html
/pages/voolamine.html
/examples/kineetika_andmed_kaempferol.csv
